/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,600,300,800);


/* TYPOGRAPHY */

* {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: "Fjalla One", Helvetica, Arial, sans-serif;
}

/* NAVBAR */

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	text-transform: uppercase;
}


/* SIDEBAR */

aside {
	float: left;
	width: 30%;
	background: #d8d8d8;
	height: 500px;
}

aside h2 {
	font-size: 24px;
	text-align: center;
}


/* MAPS */

#map { 
	height: 500px;
	width: 70%;
	float: right;
}